body,
h2 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

.ellipsis {
  white-space: nowrap;        /* 防止文字换行 */
  overflow: hidden;           /* 隐藏溢出的内容 */
  text-overflow: ellipsis;    /* 用省略号表示溢出的部分 */
}



