body,
h2 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: var(--el-color-primary);
}

html, body, #app {
  width: 100%;
  height: 100%;
}

.ellipsis {
  white-space: nowrap;        /* 防止文字换行 */
  overflow: hidden;           /* 隐藏溢出的内容 */
  text-overflow: ellipsis;    /* 用省略号表示溢出的部分 */
}

.reset-button {
  // background-color: #f4f4f5; /* 浅灰色背景 */
  // color: #606266; /* 深灰色字体 */
  // border: 1px solid #dcdfe6; /* 边框颜色 */

  background-color: var(--el-btn-reset-background-color)!important; /* 浅灰色背景 */
  color: var(--el-btn-reset-text-color)!important; /* 深灰色字体 */
  border: 1px solid var(--el-btn-reset-border-color)!important; /* 边框颜色 */
  border-radius: 4px; /* 圆角设计 */
  transition: all 0.3s; /* 动画过渡 */
}

.reset-button:hover {
  background-color: var(
    --el-btn-reset-hover-background-color
  )!important; /* 鼠标悬停时稍微变深 */
  border-color: var(--el-btn-reset-hover-border-color)!important;
  color: var(--el-btn-reset-hover-text-color)!important;
}

.confirm-button {
  background-color: var(--el-btn-background-color)!important; /* 主题蓝色 */
  color: var(--el-btn-text-color)!important; /* 白色字体 */
  border-radius: 4px;
  transition: all 0.3s;
}

.confirm-button:hover {
  background-color: var(
    --el-btn-hover-background-color
  )!important; /* 悬停时更亮一些 */
}

/* 自定义弹窗整体样式 */
.my-custom-confirm {
  width: 300px!important;
  border-radius: 8px!important; /* 圆角 */
  box-shadow: 0 4px 10px var(--v-profile-box-shadow)!important; /* 阴影 */
  overflow: hidden!important; /* 隐藏多余内容 */
}


/* 确认按钮样式 */
.my-custom-confirm .el-button--primary {
  background-color: var(--el-color-danger); /* 按钮背景色 */
  border-color: var(--el-color-danger);
  color: var(--v-profile-page-bgc)!important; /* 文字颜色 */
  font-weight: 600;
}

.my-custom-confirm .el-button--primary:hover {
  background-color: var(--el-color-danger-hover); /* 悬停时的颜色 */
  border-color: var(--el-color-danger-hover);
}

/* 取消按钮样式 */
.my-custom-confirm .el-button {
  color: var(--el-text-color-placeholder); /* 取消按钮颜色 */
}

.my-custom-confirm .el-button:hover {
  color: var(--el-text-color-secondary);
}




